body{
    background-color: #121212;
    max-width: 1200px;
    margin: 0 auto;
    color: #e0e0e0;
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
}

h1 {
    color: #bb86fc;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 2px solid #bb86fc;

}

h2 {
    color: #6b2d88;
    font-size: 1.8em;
    margin: 25px 0px 15px;
}

h3 {
    color: #9a46a5;
    font-size: 1.4em;
    margin: 15px 0px;
}
p {
    margin-bottom: 15px 0;
    text-align: justify;
}
ul {
    list-style-type: none;
    margin-left: 20px;
    
}
li {
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;

}
li::before {
    content: "--";
    color: #bb86fc;
    position: absolute;
    left: 0;
}
a{
color: #bb86fc;
text-decoration: none;
font-weight: 500;
transition: color 2s ease;
}

a:hover {
    color: #3700b3;
    text-decoration: underline;
}

img {
    border: 3px solid #bb86fc;
    border-radius: 8px;
    margin: 10px 0;
    transition: transform 0.5s ease;
}

img:hover {
    transform: scale(1.05);
}
.nav-menu {
    background-color: #1e1e1e;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px 0px;
}
.nav-menu ul {
    /*list-style: none;
    padding: 0;*/
    display: flex;
    justify-content: center;
    gap: 20px;
}
.nav-menu li::before {
    display: none;
}

.nav-menu a {
    color: #e0e0e0;
    padding: 8px 15px;
    border-radius: 4px;
}

.nav-menu a:hover {
    color: #bb86fc;
    text-decoration: none;
}

.contact-info {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

.Galeria {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  padding: 20px;
}

.Galeria img {
  width: calc(33.333% - 10px);
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.foto_de_perfil {
  justify-content: center;
  display: flex;
  flex-wrap: wrap
}